@media(max-width:768px) {
    .banner-bg {
        padding: 4rem 0 !important;
    }
}

.banner-img {
    background-image: url('../assests/images/image-banner1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 6rem 0;
}

.banner-text-p1 {
    color: #fcc82b;
}

.bg-theme {
    text-decoration: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
    background-color: #9e3845;
    color: #fff !important;
    border-radius: 10px;
}

.text-content p {
    font-size: 20px;
    font-weight: 300;
}

.know-btn {
    margin-top: 1.5rem !important;
}

.hand-img img {
    border-radius: 35px 0;
}

.form-card {
    padding: 1.5rem 2.7rem;
    border-radius: 10px !important;
    box-shadow: 1px 3px 4px 0px #ccc;
}