<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPA-BANKING</title>
    <link rel="stylesheet" href="../assests/style3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <main>
        <div class="container-fluid p-0">
            <div class="banner-img">
                <div class="container">
                    <div class="col-md-5 mx-3">
                        <div class="banner-text">
                            <h1 class="white-text">Automation First Enterprises</h1>
                            <h6 class="text-light">Automate Your Bussiness Processes to deliver Better Experince, Incresad Revenue and Continous Innovation </h6>
                            <div class="bg-para2">
                                <p>Reimage your bussiness Leveraging Intelligent process Automation and start your jounrey to become the Automation First enterprises
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid ">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Why Automation First Enterprises ?</h2>
                        <p class="body-para1">Hundreads Of manual Processes, across insurance industry, result in lost revenues, inefficent operations and falls short of delevring a great customer experince. But these needs not be if enterprise leverage Intelligent process
                            Automation (IPA) and become the Automation First enterprises. </p>
                        <p>IPA is evolving at a faster pace than ever and at people tech groupwe have built IPA capabilities,IPs solutions and services,to enable enterprises like your to be Automation First enterprise ,delivering the full potential of your
                            business processes.
                        </p>
                    </div>
                    <div class="col-md-6 text-center my-auto">
                        <img src="../assests/images/pad_screenshot (2).png" alt="" width="90%">

                    </div>
                    <div class="col-md-12 mt-3">
                        <img src="../assests/images/body-img1.png" alt="" width="100%">
                    </div>
                    <div class="col-md-12 mt-3">
                        <h3>Our Automation First Enterprises IPA Offering are Designed for your industry</h3>
                        <h5>Here are some of the process areas and use cases for <span> Banking</span></h5>

                    </div>

                </div>
            </div>


            <div class="container-fluid mt-2">
                <div class="container">
                    <div class="row  ">
                        <div class="col-md-3">
                            <div class="card ">
                                <img class="card-img-top" src="../assests/images/contact-opt.png" alt="">
                                <div class="card-body">
                                    <p class="card-text text-center">Contact Center Optimazation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="../assests/images/contact-opt.png" alt="">
                                <div class="card-body">
                                    <p class="card-text text-center">Contact Center Optimazation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="../assests/images/contact-opt.png" alt="">
                                <div class="card-body">
                                    <p class="card-text text-center">Contact Center Optimazation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="../assests/images/contact-opt.png" alt="">
                                <div class="card-body">
                                    <p class="card-text text-center">Contact Center Optimazation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="../assests/images/contact-opt.png" alt="">
                                <div class="card-body">
                                    <p class="card-text text-center">Contact Center Optimazation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="../assests/images/contact-opt.png" alt="">
                                <div class="card-body">
                                    <p class="card-text text-center">Contact Center Optimazation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="../assests/images/contact-opt.png" alt="">
                                <div class="card-body">
                                    <p class="card-text text-center">Contact Center Optimazation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="../assests/images/contact-opt.png" alt="">
                                <div class="card-body">
                                    <p class="card-text text-center">Contact Center Optimazation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="../assests/images/contact-opt.png" alt="">
                                <div class="card-body">
                                    <p class="card-text text-center">Contact Center Optimazation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="../assests/images/contact-opt.png" alt="">
                                <div class="card-body">
                                    <p class="card-text text-center">Contact Center Optimazation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="../assests/images/contact-opt.png" alt="">
                                <div class="card-body">
                                    <p class="card-text text-center">Contact Center Optimazation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="../assests/images/contact-opt.png" alt="">
                                <div class="card-body">
                                    <p class="card-text text-center">Contact Center Optimazation</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card ">
                                        <img src="../assests/images/contact-opt.png" alt="">
                                        <div class="card-body">
                                            <p class="card-text text-center">Contact Center Optimazation</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card ">
                                        <img src="../assests/images/contact-opt.png" alt="">
                                        <div class="card-body">
                                            <p class="card-text text-center">Contact Center Optimazation</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="container mt-4">
            <h2>How We Engage</h2>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="../assests/images/strategy.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Strategy</h5>
                            <p class="card-text">We discover the automation oppurtunity and create strategy & roadmap that align with your vision</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="../assests/images/strategy.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Strategy</h5>
                            <p class="card-text">We discover the automation oppurtunity and create strategy & roadmap that align with your vision</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="../assests/images/strategy.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Strategy</h5>
                            <p class="card-text">We discover the automation oppurtunity and create strategy & roadmap that align with your vision</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <h2>Why People Tech</h2>
                <div class="row">
                    <div class="col-md-6">

                        <img src="../assests/images/img18.JPG" alt="" width="100%">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card ">
                                    <img src="../assests/images/dmn & know.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text text-center">Contact Center Optimazation</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card ">
                                    <img src="../assests/images/tm & set.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text text-center">Contact Center Optimazation</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <img src="../assests/images/product & ptnr.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text text-center">Contact Center Optimazation</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <img src="../assests/images/product & ptnr.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text text-center">Contact Center Optimazation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="red-bg">
            <div class="container-fluid ">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-6 mt-5">
                            <h2 class="text-white">Start your Automation First jounrey today with People tech and Ui-Path</h2>
                            <p class="text-white">As a Uipath top-tier Diamond Partner, People Tech group brings in world-class expertise in IPA consulting, solution development,implementation and change management We have all theresource you need to become the automation
                                first enterprise using the leading solution trusted by 805 of the top 10 fortune global 500 firms. <a href="#" class="text-white">Learn More</a>
                            </p>
                        </div>
                        <div class="col-md-6 mt-5">
                            <div class="img-botton my-4">
                                <button role="button" aria-label="ui-img"><img src="../assests/images/uipath-diamond-partner-logo.jpg" alt="" width="100%"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center my-5">
            <a href="#" class="bg-theme">Talk to Our IPA Experts
            Today</a>
        </div>


    </main>

</body>

</html>